<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="default">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9690/ConfigrationService"
                binding="netTcpBinding" bindingConfiguration="default" contract="ServiceReference1.IConfigrationService"
                name="default">
                <identity>
                    <userPrincipalName value="DESKTOP-18N0FVN\Moustafa" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>